body { 
  font-family:"Arial","Vendana",sans-serif;
  background-color: #2471A3;
  margain left: 20px;
}

h1 {
   text-align: center;
   color: white;
}

p {
   color: yellow;
   font-size: 20px;
}

div{
   background-color: #D0ECE7;
   padding: 5px;
   margin: 10px;
}

input.name{
   width: 50%;
   height: 25px;
}

button{
   width: 150px;
   height: 30px;